[submodule "model/INS/Base_INS"]
	path = model/INS/Base_INS
	url = https://github.com/FirmamentPilot/Base_INS.git
[submodule "model/FMS/Base_FMS"]
	path = model/FMS/Base_FMS
	url = https://github.com/FirmamentPilot/Base_FMS.git
[submodule "model/Controller/Base_Controller"]
	path = model/Controller/Base_Controller
	url = https://github.com/FirmamentPilot/Base_Controller.git
[submodule "model/Plant/Multicopter_Model"]
	path = model/Plant/Multicopter_Model
	url = https://github.com/FirmamentPilot/Multicopter_Model.git
[submodule "model/Controller/Template_Controller"]
	path = model/Controller/Template_Controller
	url = https://github.com/FirmamentPilot/Template_Controller.git
